@using InsuranceQuoteExercise.Models
@model UserInfo

<div class="card-header text-danger text-center mx-auto shadow border border-danger" style="width: 500px;">
    <h1>Your Insurance Quote is: $@Model.Total</h1>
</div>

